{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'Group creation'|trans }}</h1>

    {{ form(form) }}

        <a class="btn btn-primary m-y-1" href="{{ path('group') }}">
            {{ 'Back to the list'|trans }}
        </a>

{% endblock %}
