<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->

<html>
    <head>
        <meta charset="utf-8">
        <title>Заголовок</title>
        <meta name="description" content="">
        <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/main.css">



    </head>
    <body class="mCustomScrollbar" data-mcs-theme="dark">
        {% block body %}



        {% endblock %}




        {% block javascripts %}

            <!--[if lt IE 9]>
            <script src="js/es5-shim.min.js"></script>
            <script src="js/html5shiv.min.js"></script>
            <script src="js/html5shiv-printshiv.min.js"></script>
            <script src="js/respond.min.js"></script>
            <![endif]-->


            <script src="js/jquery-1.11.2.min.js"></script>
            <script src="js/jquery.min.js"></script>
            <script src="js/tether.min.js"></script>
            <script src="js/bootstrap.min.js"></script>



            <script type="text/javascript" src="js/jquery.touchSwipe.js"></script>
            <script type="text/javascript" src="js/jquery.horizonScroll.js"></script>
            <script src="js/common.js"></script>


            <script src="js/modernizr.js"></script>
            <script src="js/waypoints.min.js"></script>
            <script src="js/animate-css.js"></script>
            <script src="js/plugins-scroll.js"></script>

            {#{% javascripts#}
            {#'js/jquery.min.js'#}
            {#'js/jquery.touchSwipe.js'#}
            {#'js/jquery.horizonScroll.js'#}
            {#'js/modernizr.js'#}
            {#'js/waypoints.min.js'#}
            {#'js/animate-css.js'#}
            {#'js/plugins-scroll.js'#}
            {#'js/bootstrap.min.js'#}
            {#'js/common.js'#}
            {#output='js/compiled/app.js' %}#}
            {#<script src="{{ asset_url }}"></script>#}
            {#{% endjavascripts %}#}

                    {% endblock %}

    </body>
</html>
