{% extends 'base.html.twig' %}

{% block content %}

    {% if isadmin %}
        {{ render(controller('AppBundle:Default:settings')) }}

    {% else %}
        {#<a class="btn btn-success btn-lg" href="{{ path('baseforms_create_report') }}">{{ 'send report'|trans }}</a>#}

        {{ render(controller('NewsBundle:News:index')) }}


    {% endif %}




{% endblock %}










