{% extends '::base.html.twig' %}

{% block content %}
    <h1>{{ 'TypeReport creation'|trans }}</h1>

    {{ form(form) }}


        <a class="btn btn-primary m-y-1" href="{{ path('typereport') }}">
            {{ 'Back to the list'|trans }}
        </a>

{% endblock %}
