{% extends '::base.html.twig' %}

{% block content %}
    <h1>BaseForms creation</h1>

    {{ form(form) }}



        <ul class="record_actions">
    <li>
        <a href="{{ path('baseforms') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
