{% extends '::base.html.twig' %}

{% block content%}
    <h1>{{ 'News creation'|trans }}</h1>

    {{ form(form) }}


        <a class="btn btn-success m-y-1" href="{{ path('_welcome') }}">
            {{ 'Back to the list'|trans }}
        </a>



{% endblock %}
