{% extends '::base.html.twig' %}

{% block content%}
    <h1>FormReport creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('formreport') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
