{% extends '::base.html.twig' %}

{% block content%}
    <h1>{{ 'FormReport creation'|trans }}</h1>

    {{ form(form) }}


        <a class="btn btn-success m-y-1" href="{{ path('formreport') }}">
            {{ 'Back to the list'|trans }}
        </a>


{% endblock %}
